<form>
    <div class="form-group">
        <fieldset class="form-group">
            <legend>Upload Logo</legend>
            {{imageError}}
            <div class="custom-file fileInputProfileWrap position-relative">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" #fileInput>
                <div class="img-space position-relative">
                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" alt="{{fileName}}"/>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <img src="../../../../assets/images/placeholder.png" class="img-responsive" alt="{{fileName}}">
                    </ng-template>
                    <a class="cancel-icon" (click)="removeImage()" *ngIf="isImageSaved">
                        <img src="assets/images/svg-icons/cancel.svg" alt="cancel" width="20px" height="20px">
                    </a>
                </div>
            </div>
        </fieldset>
    </div>
</form>