@import '../../../assets/styles/variables/colors';

.add-user-panel{
    max-width: 1200px;
    background-color: $bs-white;
    margin:auto;

    input,select{
        border: none;
        background-color: #F3F6F9;
        padding: 10px 18px;
        width: 100%;
        border-radius: 3px;
        &:focus{
            outline: none !important;
        }
    }
    .avtaar{
        .edit-icon{
            top: 0;
        }
    }
    .border-top{
        border-top: 1px solid $bs-checkbox-bg !important;
    }
}