<form formGroup="googleApiForm">
    <div>
        <div class="row">
            <!-- <div class="col-sm-4">
                <label for="country">Country</label>
                <mat-select formControlName="countryCode" (selectionChange)="changeCountryType()">
                    <mat-option *ngFor="let countries of asyncService.country$ | async" [value]="countries">
                        {{countryEnum[countries]}}
                    </mat-option>
                </mat-select>
            </div> -->
            <div class="col-sm-8">
                <label for="autoaddress">Auto Address</label>
                <input type="text" formControlName="searchField" (keyup)="findAddress()" id="searchbox" class="w-100">
            </div>
        </div>
    </div>
</form>