<div class="toolbar-container pg-py-1 pg-px-3">
    <div class="toolbar-breadcrumb">
        <h1 class="fw-bolder pg-fs-2 pg-my-1">Users List</h1>
        <span class="pg-h-3 border-gray-300 border-start pg-mx-2"></span>
        <ul class="breadcrumb breadcrumb-separatorless fw-bold pg-fs-1.5 pg-my-1">
            <li class="breadcrumb-item text-muted">
                <a routerLink="" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 pg-w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">User Management</li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Users</li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-dark">Users List</li>
        </ul>
    </div>
    <div class="toolbar-options">
        <div class="pg-m-0">
            <a href="" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder">Filter</a>
        </div>
        <div class="pg-ml-1">
            <a href="" class="btn btn-sm btn-primary">Create</a>
        </div>
    </div>
</div>