<div class="add-user-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="table-wrapper add-user-panel">
                    <div class="table-header">
                        <div class="tabel-header-panel">
                            <button class="btn-small btn-primary">Create</button>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="table-content-panel">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                            <div class="todo">
                                <div><span>Your iBuy.com grocery shopping confirmation</span></div>
                            </div>
                            <div class="status"><span class="status status-pills status-completed">Completed</span>
                            </div>
                        </div>
                        <div class="table-content-panel">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                            <div class="todo">
                                <div><span>Your iBuy.com grocery shopping confirmation</span></div>
                            </div>
                            <div class="status"><span class="status status-pills status-completed">Completed</span>
                            </div>
                        </div>
                        <div class="table-content-panel">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                            <div class="todo">
                                <div><span>Your iBuy.com grocery shopping confirmation</span></div>
                            </div>
                            <div class="status"><span class="status status-pills status-pending">Pending</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>