<div class="add-user-wrapper">
    <div class="container">
        <div class="add-user-panel">
            <mat-stepper #stepper>
                <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required." *ngIf="firstFormGroup">
                    <form [formGroup]="firstFormGroup" (ngSubmit)="goToStep2()">
                        <ng-template matStepLabel>Profile</ng-template>

                        <div class="row justify-content-center">
                            <div class="col-xl-9">
                                <div class="mb-20">
                                    <h3 class="font-500">Users Profile</h3>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 mb-20">Image</div>
                                    <div class="col-sm-9">
                                        <app-image-upload [imgFile]="userVal.image" (imageChange)="changeImage($event)"></app-image-upload>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 mb-20"><label>First Name</label></div>
                                    <div class="col-sm-9"><input type="text" formControlName="firstName" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 mb-20"><label>Second Name</label></div>
                                    <div class="col-sm-9"><input type="text" formControlName="lastName" required>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-sm-3 mb-20"><label>Contact Phone</label></div>
                                    <div class="col-sm-9"><input type="text" formControlName="phone" mask="000-000-0000"
                                            required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 mb-20"><label>Email</label></div>
                                    <div class="col-sm-9"><input type="text" formControlName="email"
                                            required>
                                    </div>
                                </div>
                                
                                <div class="d-flex justify-content-end border-top">
                                    <button mat-button matStepperNext class="btn-primary btn-medium mt-10"
                                        [disabled]="firstFormGroup.invalid">Next</button>
                                </div>
                            </div>


                        </div>


                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required." *ngIf="secondFormGroup">
                    <form [formGroup]="secondFormGroup" (ngSubmit)="goToStep3()">
                        <ng-template matStepLabel>Address</ng-template>

                        <div class="row justify-content-center mb-10">
                            <div class="col-xl-9">
                                <div class="mb-20">
                                    <h3>Setup Your Address</h3>
                                </div>
                                <div formArrayName="customerAddressDTO">
                                    <div class="row"
                                        *ngFor="let address of secondFormGroup?.get('customerAddressDTO')['controls']; let addIndex = index;"
                                        [formGroupName]="addIndex">
                                        <div class="col-xl-12">
                                            <app-google-address [addressTypeDisabled]="isaddressTypeDisabled"
                                                (selectedAddress)="setSelectedAddress($event,addIndex)"
                                                [cCode]="address.controls['country']?.value">

                                            </app-google-address>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col-xl-12"><label>Address Line 1</label></div>
                                    <div class="col-xl-12"><input type="text" formControlName="addressLine1"></div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col-xl-12"><label>Address Line 2</label></div>
                                    <div class="col-xl-12"><input type="text" formControlName="addressLine2"></div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div><label>Postcode</label></div>
                                                <div><input type="text" formControlName="postalCode"></div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div><label>City</label></div>
                                                <div><input type="text" formControlName="city"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="row mb-10">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div><label>State</label></div>
                                                <div><input type="text" formControlName="state"></div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div><label>Country</label></div>
                                                <div><input type="text" formControlName="country"></div>

                                              
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row border-top">
                                    <div class="col-xl-12">
                                        <div class="d-flex justify-content-between flex-wrap mt-10">
                                            <button class="btn-medium btn-secondary" mat-button
                                                matStepperPrevious>Back</button>
                                            <button class="btn-medium btn-primary" mat-button
                                                matStepperNext>Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Submission</ng-template>

                    <div class="row justify-content-center mb-10">
                        <div class="col-xl-9">
                            <div class="mb-20">
                                <h3>Review your Details and Submit</h3>
                            </div>
                            <div>
                                <h4 class="font-500">Your Account Details:</h4>
                                <div>
                                    <div><span>{{firstFormVal?.firstName}} {{firstFormVal?.lastName}}</span></div>
                                    <div><span>Phone:</span><span>+{{firstFormVal?.phone}}</span></div>
                                    <div><span>Email:</span><span>{{firstFormVal?.company?.address}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-xl-9">
                            <div class="mb-10">
                                <h4 class="font-500">Your Address Details:</h4>
                                <div>
                                    <div><span>Address Lne 1: {{secondFormVal?.addressLine1}}</span></div>
                                    <div><span>Address Lne 2: {{secondFormVal?.addressLine2}}</span></div>
                                    <div><span>{{secondFormVal?.city}}&nbsp;{{secondFormVal?.state}}&nbsp;{{secondFormVal?.postalCode}}&nbsp;{{secondFormVal?.country}}</span></div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="d-flex justify-content-between flex-wrap mt-10">
                                    <button class="btn-medium btn-secondary" mat-button matStepperPrevious>Back</button>
                                    <button class="btn-medium btn-primary" mat-button
                                        (click)="addUser()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </mat-step>
            </mat-stepper>

        </div>
    </div>
</div>