<div class="footer-container pg-px-8 pg-py-3 pg-mt-5">
    <div class="text-dark pg-px-2 pg-py-0">
        <span class="text-muted fw-bold me-1">2022©</span>
        <a href="https://growexx.com" rel=noopener target="_blank" class="text-gray-800 text-hover-primary">Growexx</a>
    </div>
    <div class="footer-links menu-gray-600">
        <a href="https://www.growexx.com/about/" rel=noopener target="_blank" class="text-muted text-hover-primary pg-px-1 pg-py-0">About</a>
        <a href="https://www.growexx.com/careers/" rel=noopener target="_blank" class="text-muted text-hover-primary pg-px-1 pg-py-0">Careers</a>
        <a href="https://www.growexx.com/contact/" rel=noopener target="_blank" class="text-muted text-hover-primary pg-px-1 pg-py-0">Contact</a>
    </div>
</div>