// footer's Scss styles

.footer-container{
    vertical-align: middle;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .footer-container{
        flex-direction: column-reverse;
        align-items: center;
    }
}