<div class="maincard">
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Card Title</h3>
            </div>
            <div class="card-toolbar">
                <ul class="nav nav-bold nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_7_1">Week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_2">Month</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Year
        </a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a class="dropdown-item" data-toggle="tab" href="#kt_tab_pane_7_3">Action</a>
                            <a class="dropdown-item" data-toggle="tab" href="#kt_tab_pane_7_3">Another action</a>
                            <a class="dropdown-item" data-toggle="tab" href="#kt_tab_pane_7_3">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="tab" href="#kt_tab_pane_7_3">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="kt_tab_pane_7_1" role="tabpanel" aria-labelledby="kt_tab_pane_7_1">
                    ...
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_7_2" role="tabpanel" aria-labelledby="kt_tab_pane_7_2">
                    ...
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_7_3" role="tabpanel" aria-labelledby="kt_tab_pane_7_3">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>