<div id="header" class="header-wrapper">
    <div class="header-panel">
        <div class="header-row">
            <div>
                <ul>
                    <li>Dashboard
                        <ul class="sub-menu">
                            <li class="bullets">Multipurpose</li>
                            <li class="bullets">eCommerce</li>
                            <li class="bullets">Projects</li>
                            <li class="bullets">Online</li>
                            <li class="bullets">Marketing</li>
                            <li class="bullets">Bidding</li>

                        </ul>
                    </li>
                    <li>Crafted</li>
                    <li>Apps</li>
                    <li>Layout</li>
                    <li>Resources</li>
                    <li>Mega Menu</li>
                </ul>
            </div>

            <div class="d-flex">
                <div class="icon-panel"><a><img src="assets/images/svg-icons/search.svg" alt="search"></a></div>
                <div class="icon-panel"><a><img src="assets/images/svg-icons/barchart.svg" alt="chart"></a></div>
                <div class="icon-panel"><a><img src="assets/images/svg-icons/notification.svg" alt="notifications"></a>
                </div>
                <div class="icon-panel"><a><img src="assets/images/svg-icons/message.svg" alt="message"></a></div>
                <div class="icon-panel"><a><img src="assets/images/avtaar.jpg" alt="avtaar" width="50" height="50"
                            class="avtaar"></a></div>
            </div>
        </div>       
    </div>
    <div class="header-toolbar">
        <div class="d-flex title-items">
            <h4>Dashboard</h4>
            <span>
                #XRS-45670</span>
        </div>
        <div class="btn-panel">
            <button class="btn-small btn-filter">Filter</button>
            <button class="btn-small btn-primary">Create</button>
        </div>
    </div>
</div>