<div>
    <div class="table-container">
        <table class="table grid-table" aria-describedby="resuable table">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input type="checkbox" name="header-checkbox" id="header-checkbox" class="form-check-input" (click)="checkUncheckAll()" [(ngModel)]="commonService.checkAllCheckboxes">
                        </div>
                    </th>
                    <th scope="col" [class]="heading.class" *ngFor="let heading of tableConfig" [textContent]="heading.label"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tableData | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i=index;">
                    <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input type="checkbox" (change)="isAllSelected()" name="checkbox-body-{{i}}" id="checkbox-body-{{i}}" class="form-check-input" [(ngModel)]="data.isSelected">
                        </div>
                    </td>
                    <td class="user-name">
                        <div class="">
                            <a routerLink="/">
                                <img src="{{data.image}}" alt="{{data.firstName + ' ' + data.lastName}}" class="pg-w-7 rounded-circle">
                            </a>
                        </div>
                        <div class="d-flex flex-column pg-m justify-content-center pg-ml-2">
                            <a class="text-gray-800 text-hover-primary mb-1" routerLink="/">{{data.firstName + ' ' + data.lastName}}</a>
                            <span>{{data.email}}</span>
                        </div>
                    </td>
                    <td class="user-role">{{data.company.title}}</td>
                    <td class="user-contact-number">{{data.phone}}</td>
                    <td class="user-department">{{data.company.department}}</td>
                    <td class="user-birthdate">{{data.birthDate | date}}</td>
                    <td class="user-actions">
                        <a id="actionDropdown" (click)="commonService.toggleActionDropdown(data.id)" class="btn btn-light btn-active-light-primary btn-sm">Action <em class="fa-solid fa-angle-down"></em></a>
                        <div class="action_menu pg-py-1" [class.show]="commonService.showActionDropdown && commonService.index == data.id">
                            <div class="action-menu-item pg-px-1">
                                <a routerLink="/admin/users/view/{{data.id}}" class="action-menu-link text-gray-600 text-hover-primary pg-px-1">View</a>
                            </div>
                            <div class="action-menu-item pg-px-1">
                                <a routerLink="/" class="action-menu-link text-gray-600 text-hover-primary pg-px-1">Edit</a>
                            </div>
                            <div class="action-menu-item pg-px-1">
                                <a (click)="OnDelete(data.id)" class="action-menu-link text-gray-600 text-hover-primary pg-px-1">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="page = $event" class="pagination"></pagination-controls>
</div>