//table's scss
.table-container {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  .grid-table {
    // min-width: 1100px;
    thead {
      tr {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #eff2f5;
        th {
          padding: 10px;
          text-transform: uppercase;
          color: rgb(161, 165, 183);
          font-weight: 600;
          font-size: 13px;
          line-height: 19px;
          overflow-wrap: break-word;
          &:nth-child(1) {
            padding: 10px 20px;
          }
          &.user-name{
            padding-left: 25px;
          }
          .form-check {
            .form-check-input {
              height: 1.5rem;
              width: 1.5rem;
              border: 0;
            }
          }
        }
      }
    }
    tbody {
      vertical-align: middle;
      font-weight: 500;
      tr {
        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }
        td {
          padding: 10px;
          color: rgb(161, 165, 183);
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          overflow-wrap: break-word;
          &:nth-child(1) {
            padding: 10px 20px;
          }
          &.user-name {
            display: flex;
            flex-direction: row;
          }
          .form-check {
            .form-check-input {
              height: 1.5rem;
              width: 1.5rem;
              border: 0;
            }
          }
          .action_menu {
            display: none;
          }
          .action_menu.show {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            z-index: 105;
            position: fixed;
            width: 125px;
            font-weight: 500;
            font-size: 12px;
            box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
            border-radius: 0.475rem;
            margin: 0px;
            .action-menu-item {
              .action-menu-link {
                cursor: pointer;
                display: flex;
                align-items: center;
                flex: 0 0 100%;
                padding: 0.65rem 1rem;
                transition: none;
                outline: none !important;
              }
              &:hover,
              &:focus {
                transition: color 0.2s ease, background-color 0.2s ease;
                background-color: #f1faff;
                color: #009ef7;
              }
            }
          }
        }
      }
    }
  }
}
.pagination ::ng-deep {
  margin: 2px 0;
  justify-content: flex-end;
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  .ngx-pagination {
    padding: 0.5rem 1rem;
    li {
      margin: 0.5rem;
    }
    .current {
      padding: 0.4rem 0.8rem;
      border-radius: 0.5rem;
      font-weight: 500;
      font-size: 1.3rem;
      text-align: center;
    }
  }
}

.swal2-styled.swal2-cancel.cancelButton {
  color: black !important;
  font-weight: 500 !important;
  background-color: #fff !important;
  &:hover {
    color: #009ef7 !important;
    background-color: lightslategray !important;
  }
}
@media screen and (max-width: 768px) {
  .table-container {
    width: 100%;
    overflow-x: scroll;
  }
  .pagination ::ng-deep {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .table-container {
    width: 100%;
    overflow-x: scroll;
    .grid-table {
      min-width: 1100px;
    }
  }
}
