<div class="add-user-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-sm-4">
                <div class="add-user-panel user-details-wrapper">
                    <div class="user-details">
                        <div>
                            <img src="{{userDetails?.image}}" alt="" width="100" height="100">
                        </div>
                        <div>
                            <h3 class="user-name">{{userDetails?.firstName}} {{userDetails?.lastName}}</h3>
                        </div>
                    </div>
                    <div>
                        <div class="details-title">
                            <h3 class="font-500">Details</h3>
                        </div>
                        <div>
                            <div class="details-content">
                                <div class="mbl-20">
                                    <div><span class="font-500">Email</span></div>
                                    <div><span>{{userDetails?.email}}</span></div>
                                </div>
                                <div>
                                    <div><span class="font-500">Address</span></div>
                                    <div><span>{{userDetails?.address?.address}},</span></div>
                                    <div><span>{{userDetails?.address?.city}} &nbsp;{{userDetails?.address?.state}}&nbsp;{{userDetails?.address?.postalCode}}</span></div>
                                    <!-- <div><span>Australia</span></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-sm-8">
                <div class="add-user-panel task-panel-wrapper h-100">
                    <div class="d-flex">
                        <h2>User's Task</h2>
                    </div>
                    <div class="task-panel-content">
                        <div class="task-panel">
                            <div class="mbl-20">
                                <h4 class="mb-0">Create FureStibe branding logo</h4>
                                <div><span>Due in 1 day Karina Clark</span></div>
                            </div>
                        </div>
                        <div class="task-panel">
                            <div class="mbl-20">
                                <h4 class="mb-0">Create FureStibe branding logo</h4>
                                <div><span>Due in 1 day Karina Clark</span></div>
                            </div>
                        </div>
                        <div class="task-panel">
                            <div class="mbl-20">
                                <h4 class="mb-0">Create FureStibe branding logo</h4>
                                <div><span>Due in 1 day Karina Clark</span></div>
                            </div>
                        </div>
                        <div class="task-panel">
                            <div class="mbl-20">
                                <h4 class="mb-0">Create FureStibe branding logo</h4>
                                <div><span>Due in 1 day Karina Clark</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>