.auth-content {
    margin-left: 600px;
    @media(max-width: breakpoint(screen-lg-max)){
        margin-left: 0px;
    }
}

.right-wrapper {
    margin-left: 250px;
    height: 100%;
    background-color: #edf4fc;

    @media (max-width: breakpoint(screen-lg-max)) {
        margin-left: 250px;
    }

    @media (max-width: breakpoint(screen-md-max)) {
        margin-left: 80px;
    }
}