<div class="mainDiv">
    <div class="search-box">
        <div class="d-flex align-items-center position-relative my-1">
            <em class="fa fa-magnifying-glass text-gray-500 pg-fs-2 position-absolute ms-6"></em>
            <input type="text" id="searchFilter" class="form-control bg-gray-200 border-0 w-250px ps-14" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
        </div>
    </div>
    <button (click)="valuePassed(searchText)" class="btn btn-primary">Search</button>
</div>