<div>

    <app-tabs [animationDuration]="animationDuration" [background]="background" [color]="color" [tabs]="tabs"></app-tabs>


    <div class="progressBar">
        <app-circle-progress-bar [isLoader]="isLoader" [loaderClass]="loaderClass" [progressBar]="progressBar">
        </app-circle-progress-bar>
    </div>

    <ul *ngFor="let person of myData">
        <li>{{person.name1}}</li>
    </ul>
    <app-comp-filter (stringPassed)="search($event)"></app-comp-filter>
    <div *ngIf="showDiv===true">
        No Result Found
    </div>

    <table mat-table [dataSource]=" userList.users" class="mat-elevation-z8">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>


        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.company.department}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone No. </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <div>
        <app-checkbox [checkboxes]="checkboxes" (onChecked)="onChecked($event)"></app-checkbox>
    </div>
    <div>

        <app-radio-button [radioButtons]="radioButtons" [color]="color" (selected)="onSelectRadio($event)"></app-radio-button>
    </div>

    <app-text-area [textArea]="textArea" (input)="textAreaValue($event)"></app-text-area>
    <div>
        <app-switch [switches]="switches" (slide)="onSelectSwitch($event)"></app-switch>
    </div>
    <div>
        <app-timeline [title]="timelineTitle" [subtitle]="timelineSubtitle" [events]="events"></app-timeline>
    </div>

    <div>
        <app-line-chart [options]="linechartOptions" [total]="total" [data]="weeklyIncomeData" [iconClass]="iconClass1"></app-line-chart>
    </div>
    <div>
        <app-line-chart [options]="linechartOptions" [total]="total" [data]="newUsersData" [iconClass]="iconClass2"></app-line-chart>
    </div>
    <div>
        <div id="divChart">
            <app-comp-charts [buttonClass]="buttonClass" [btnData]="btnData" [title]="cardTitle" [subTitle]="subTitle" (changeData)="updateData($event)" [options]="barChartOptions" [data]="initData"></app-comp-charts>
        </div>
    </div>
</div>