<div class="border-0 pg-p-2 table-filter-header">
    <div class="search-box">
        <div class="d-flex align-items-center position-relative my-1">
            <em class="fa fa-magnifying-glass search-icon"></em>
            <input type="text" id="searchFilter" class="form-control search-box-input" [(ngModel)]="commonService.searchFilter" (keyup)="onSearchFilter()" name="searchFilter" placeholder="Search By Name">
            <em class="fa fa-xmark clear-all-search-icon" (click)="onClearAllSearchFilter()" *ngIf="commonService.searchFilter"></em>
        </div>
    </div>
    <div class="card-toolbar">
        <div class="card-toolbar-filter">
            <a type="button" class="btn btn-light-primary me-3" id="filterDropdown" mat-raised-button (click)="openDialog()">
                <em class="fa-solid fa-filter"></em>
                Filter
            </a>
            <a routerLink="/admin/users/add" type="button" class="btn btn-primary">
                <em class="fa-solid fa-plus"></em>
                Add User
            </a>
        </div>
    </div>
</div>
<app-table [tableConfig]="usersService.usersConfig" [tableData]="usersService.usersData"></app-table>
