<div class="height-100 d-flex justify-content-center flex-column">
  <div class="text-center">
    <h1 class="fw-bolder fs-2qx pg-pb-1 color-neutral-white">
      Welcome to Growexx
    </h1>
    <p class="fw-bold fs-4 color-neutral-white">
      Discover amazing great build tools <br />with Growexx 
    </p>
  </div>
  <div class="sidebar-screen-bg">
  </div>
  <div class="">
    <h2 class="text-white fw-bolder text-center">Fast, Efficient and Productive Development</h2>
    <p class="text-white fw-bolder text-center fs-6 pg-px-8">
      We helps you to build organized and well designed dashboards full of beautiful and rich modules. 
      <br/> Join us and start building your application today.
    </p>
  </div>
</div>
