.header-wrapper {
    margin-left: 250px;
    padding: 0 30px;

    @media (max-width: breakpoint(screen-md-max)) {
        margin-left: 80px;
    }

    .header-panel {
        .header-row {
            display: $d-flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: $flex-wrap;

            @media (max-width: breakpoint(screen-md-max)) {
                justify-content: $justify-content-start;
                padding: 10px 16px 10px 0px;
            }

            ul {
                display: $d-flex;
                padding: 10px 16px 10px 0px;

                @media(max-width: breakpoint(screen-md-max)) {
                    display: $d-none;
                }

                li {
                    list-style: none;
                    color: $bs-gray-700;
                    font-size: $font-12;
                    line-height: 16px;
                    padding: 10px 16px 10px 0px;
                    font-weight: $font-weight-bold;
                    cursor: pointer;

                    &:hover {
                        color: $bs-primary;
                    }

                    .sub-menu {
                        display: $d-none;
                        position: $position-relative;


                        .bullets {
                            padding-left: 16px;
                            position: $position-relative;

                            &:hover {
                                &::before {
                                    content: '';
                                    background-color: $bs-primary;
                                }
                            }

                            &:before {
                                content: '';
                                position: $position-absolute;
                                left: 0;
                                top: 20px;
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                background-color: $bs-gray-500;
                            }
                        }


                    }

                    &:hover .sub-menu {
                        display: $d-block;
                        background-color: $bs-white;
                        border-radius: 8px;
                        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
                        padding: 16px;
                        width: 225px;
                        position: $position-absolute;
                    }
                }
            }

            .icon-panel {
                width: 40px;
                height: 40px;
                position: $position-relative;

                .avtaar {
                    border-radius: 3px;
                }
            }

            .btn-filter {
                &:hover {
                    content: '';
                    background-image: 'assets/images/svg-icons/filter-black.svg';
                    width: 24px;
                    height: 24px;
                }
            }


            .profile-submenu-panel {
                display: $d-block;
                position: $position-absolute;
                background-color: $bs-white;
                box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
                right: -12px;
                z-index: 1;
                width: 275px;
                top: 65px;
                padding: 10px 16px;

                @media(max-width: breakpoint(screen-xs-max)){
                    right: 0;
                }
                .mr-20 {
                    margin-right: 20px;
                }
                .mb-0{
                    margin-bottom: 0px;
                }

                .pills {
                    padding: 5px;

                    &.pills-success {
                        color: #50CD89;
                        background-color: #E8FFF3;
                        font-size: $font-12;
                        line-height: 16px;
                    }
                }

                .profile-submenu {
                    border-top: 1px solid #EFF2F5;
                    display: $d-block;
                    margin-top: 10px;
                }
            }

        }
    }

    .header-toolbar {
        display: $d-flex;
        justify-content: $justify-content-space-between;
        align-items: $align-items-center;
        flex-wrap: $flex-wrap;
        box-shadow: 0px 10px 30px 0px rgb(82 63 105 / 5%);
        border-top: 1px solid #EFF2F5;
        padding: 10px 0px;

        .title-items h4 {
            padding-right: 16px;
        }

        .btn-panel button {
            color: $bs-white;
            margin-right: 5px;
            position: $position-relative;

            &.btn-filter {
                color: $bs-gray-700;
                background-color: $bs-white;

                &:hover {
                    background-color: $bs-primary;
                    color: $bs-white;
                }

                &:hover {
                    &:before {
                        background: url('../../../../assets/images/svg-icons/filter-white.svg') no-repeat;

                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    background: url('../../../../assets/images/svg-icons/filter-black.svg') no-repeat;
                    width: 24px;
                    height: 24px;
                    left: 4px;
                    top: 6px;
                    background-size: 21px;
                }
            }
        }

    }
}