.btn-small{
    color: #ffffff;
    width: 83px;
    height: 34px;
    border-radius: 5px;
    border: none;
}

.btn-medium{
    color: #ffffff;
    width: 90px;
    height: 34px;
    border-radius: 5px;
    border: none;
}