.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none{
    display: none;
}
a{
    cursor: pointer;
}
.mbl-20{
    margin-bottom: 20px !important;
}
.mb-0{
    margin-bottom: 0px!important;
}