@import "/src/assets/styles/variables/common";
@import "/src/assets/styles/variables/colors";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

a {
  cursor: pointer;
}

.mbl-20 {
  margin-bottom: 20px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.align-items-center {
  align-items: center !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mbl-10 {
  margin-bottom: 10px;
}

.mbl-20 {
  margin-bottom: 20px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.status {
  width: 40%;

  .status-completed {
    background-color: #c9f7f5;
    color: #1bc5bd;
  }

  .status-pending {
    color: #ffa800;
    background-color: #fff4de;
  }

  .status-pills {
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
  }
}

.font-12 {
  font-size: $font-12;
}

.font-14 {
  font-size: $font-14;
}

.font-16 {
  font-size: $font-16;
}

legend {
  font-size: $font-14 !important;
  line-height: 18px;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #a1a5b7;
}

.scroll::-webkit-scrollbar-track {
  background: #dddddd;
}

//common scss
.auth-content {
  margin-left: 600px;

  @media (max-width: breakpoint(screen-lg-max)) {
    margin-left: 0px;
  }
}

.right-wrapper {
  margin-left: 250px;
  height: 100%;
  background-color: #edf4fc;

  @media (max-width: breakpoint(screen-lg-max)) {
    margin-left: 250px;
  }

  @media (max-width: breakpoint(screen-md-max)) {
    margin-left: 80px;
  }
}

.add-user-panel {
  max-width: 1200px;
  background-color: $bs-white;
  margin: auto;

  input,
  select {
    border: none;
    background-color: #f3f6f9;
    padding: 10px 18px;
    width: 100%;
    border-radius: 3px;

    &:focus {
      outline: none !important;
    }
  }

  .avtaar {
    .edit-icon {
      top: 0;
    }
  }

  .border-top {
    border-top: 1px solid $bs-checkbox-bg !important;
  }
}