// Dashboard component's scss
@import '../../assets/styles/variables/colors';

.task-wrapper {
    background-color: #f5f8fa;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;

    .task-header {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .task-subheader {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .task-content {
        .pipe {
            width: 4px;
            height: auto;
            align-self: stretch;

            &.pipe-completed {
                background-color: #1BC5BD;
            }
            &.pipe-pending {
                background-color: #FFA800;
            }
        }
        .ml-20{
            margin-left: 20px;
        }

        .task-title {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }
}
.chart-card{
    background-color: #f5f8fa;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mt-10{
    margin-top: 10px !important;
}