<div class="dashboard">
    <app-buttons [btnVal]="btnData" (btnClicked)="openModal()"></app-buttons>
</div>
<!--Task Overview-->
<div class="row">
    <div class="col-sm-4">
        <div class="task-wrapper">
            <div class="task-header mb-10">
                <span>Task Overview</span>
            </div>
            <div class="task-content mbl-20" *ngFor="let task of taskDetails?.todos | slice: 0:5;let i = index">
                <div class="mbl-10">
                    <span class="task-title">{{task['todo']}}</span>
                </div>
                <div class="status mt-5"><span class="task-status status-{{(task?.completed === true )? 'completed' : 'pending'}} status-pills">{{(task?.completed
                        === true )? 'Completed' : 'Pending'}}</span></div>
            </div>
        </div>
    </div>
</div>