<div class="d-flex flex-column flex-lg-row flex-column-fluid root-container">
  <div
    class="d-flex flex-column flex-lg-row-auto w-xl-275px positon-xl-relative"
    style="background-color: #1e1e2d">
    
    <div class="d-flex flex-row text-light p-5 mb-5" style="background-color: #1e1e27;">
        <img src="assets/growexx-logo-without-text.png" alt="" class="w-25"> 
        <span class="fs-xl-2 ps-5 pt-5 fw-bolder">Growexx</span>
    </div>

    <div class="d-flex flex-row text-light">
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="w-100" style="background-color: #1e1e27;">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    <em class="fas fa-th-large me-3"></em>
                    <span class="">Dashboards</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="menu-item">
                        <a class="menu-link active" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Multipurpose</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">eCommerce</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Projects</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Online Courses</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="#">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Marketing</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="#resetPasswordSwal">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Bidding</span>
                        </a>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>

  </div>
  <div class="d-flex flex-column flex-lg-row-fluid justify-content-center align-items-center py-10">
  </div>
</div>
