<!-- <div>
    <div class="card">

    </div>
</div> -->
<div class="main container-fluid">

    <div class="row">
        <div *ngIf="id=='yellowBar'" class="card card-stretch card-flush shadow-sm col-lg-6">
            <div class="card-header">
                <div>
                    <h3 class="card-title">{{cardTitle}}</h3>
                    <h5 class="card-subtitle">{{subTitle}}</h5>
                </div>
                <div class="card-toolbar">
                    <button type="button" (click)="yearlyData()" class="btn btn-sm btn-white btn-card ">
                    Year
                </button>
                    <button type="button" (click)="monthlyData()" class="btn btn-sm btn-white btn-card">
                    Month
                </button>
                    <button type="button" (click)="weeklyData()" class="btn btn-sm btn-white btn-card">
                    Week
                </button>
                </div>
            </div>
            <div class="card-body py-5">
                <p-chart id="yellowBar" [type]="type" [data]="yellowBarData" [options]="optionsBar"></p-chart>
            </div>
        </div>
        <div *ngIf="id=='blueBar'" class="card card-stretch card-flush shadow-sm ">
            <div class="card-header">
                <div>
                    <h3 class="card-title">{{cardTitle}}</h3>
                    <h5 class="card-subtitle">{{subTitle}}</h5>
                </div>
                <div class="card-toolbar">
                    <button type="button" (click)="yearlyData()" class="btn btn-sm btn-white btn-card ">
                    Year
                </button>
                    <button type="button" (click)="monthlyData()" class="btn btn-sm btn-white btn-card">
                    Month
                </button>
                    <button type="button" (click)="weeklyData()" class="btn btn-sm btn-white btn-card">
                    Week
                </button>
                </div>
            </div>
            <div class="card-body py-5">
                <p-chart id="blueBar" [type]="type" [data]="blueBarData" [options]="optionsBar"></p-chart>
            </div>
        </div>
        <div *ngIf="id=='solidFilledLine'" class="card card-stretch card-flush shadow-sm col-lg-6">
            <div class="card-header">
                <div>
                    <h3 class="card-title">{{cardTitle}}</h3>
                    <h5 class="card-subtitle">{{subTitle}}</h5>
                </div>
                <div class="card-toolbar">
                    <button type="button" (click)="yearlyData()" class="btn btn-sm btn-white btn-card ">
                    Year
                </button>
                    <button type="button" (click)="monthlyData()" class="btn btn-sm btn-white btn-card">
                    Month
                </button>
                    <button type="button" (click)="weeklyData()" class="btn btn-sm btn-white btn-card">
                    Week
                </button>
                </div>
            </div>
            <div class="card-body py-5">
                <p-chart id="solidFilledLine" [type]="type" [data]="solidFilledLineData" [options]="optionsBar"></p-chart>
            </div>
        </div>
        <div *ngIf="id=='filledLine'" class="card card-stretch card-flush shadow-sm col-lg-6">
            <div class="card-header">
                <div>
                    <h3 class="card-title">{{cardTitle}}</h3>
                    <h5 class="card-subtitle">{{subTitle}}</h5>
                </div>
                <div class="card-toolbar">
                    <button type="button" (click)="yearlyData()" class="btn btn-sm btn-white btn-card ">
                    Year
                </button>
                    <button type="button" (click)="monthlyData()" class="btn btn-sm btn-white btn-card">
                    Month
                </button>
                    <button type="button" (click)="weeklyData()" class="btn btn-sm btn-white btn-card">
                    Week
                </button>
                </div>
            </div>
            <div class="card-body py-5">
                <p-chart id="filledLine" [type]="type" [data]="filledLineData" [options]="optionsBar"></p-chart>
            </div>
        </div>

        <div *ngIf="id=='doughnut'" class="card card-stretch card-flush shadow-sm">
            <div class="card-header">
                <div>
                    <h3 class="card-title">{{cardTitle}}</h3>
                    <h5 class="card-subtitle">{{subTitle}}</h5>
                </div>
                <div class="card-toolbar">
                    <button type="button" (click)="yearlyData()" class="btn btn-sm btn-white btn-card ">
                Year
            </button>
                    <button type="button" (click)="monthlyData()" class="btn btn-sm btn-white btn-card">
                Month
            </button>
                    <button type="button" (click)="weeklyData()" class="btn btn-sm btn-white btn-card">
                Week
            </button>
                </div>
            </div>
            <div class="card-body py-5">

                <p-chart id="doughnut" [type]="type" [data]="doughnutData" [options]="optionsBar"></p-chart>
            </div>

        </div>
        <!-- <div class="card card-stretch card-flush shadow-sm">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Recent Customers</h3>
                    <h6 style="color: EFF2F5;" class="card-sub-title">More than 500 new customers</h6>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-white btn-card ">
                Year
            </button>
                    <button type="button" class="btn btn-sm btn-white btn-card">
                Month
            </button>
                    <button type="button" class="btn btn-sm btn-white btn-card">
                Week
            </button>
                </div>
            </div>
            <div class="card-body py-5">

                <p-chart type="doughnut" [data]="doughnutData" [options]="optionsBar"></p-chart>
            </div>

        </div> -->
        <!-- <div class="card card-stretch card-flush shadow-sm">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Recent Customers</h3>
                    <h6 style="color: EFF2F5;" class="card-sub-title">More than 500 new customers</h6>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-white btn-card ">
                Year
            </button>
                    <button type="button" class="btn btn-sm btn-white btn-card">
                Month
            </button>
                    <button type="button" class="btn btn-sm btn-white btn-card">
                Week
            </button>
                </div>
            </div>
            <div class="card-body py-5">

                <p-chart type="line" [data]="comboData" [options]="optionsBar"></p-chart>
            </div>

        </div> -->
    </div>
</div>