.header-container{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 11;
    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .menu-list{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            align-items: center;
            margin-bottom: 0;
            .menu-list-item{
                .menu-list-item-anchor{
                    text-decoration: none;
                }
            }
        }
    }
    .icon{
        .icon-list{
            list-style-type: none;
            margin-bottom: 0;
            .icon-list-item{
                display: flex;
                align-items: center;
                .icon-list-item-anchor{
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .header-container{
        width: 100%;
        .menu{
            .menu-list{
                display: none;
            }
        }
    }
}

