<div class="toolbar-container pg-py-1">
    <div class="toolbar-breadcrumb">
        <h2 class="toolbar-title fw-bolder mb-0">{{ breadcrumbs[breadcrumbs.length - 1]?.label }}</h2>
        <ul class="breadcrumb breadcrumb-separatorless fw-bold pg-fs-1.5 pg-my-1">
            <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
                <li class="breadcrumb-item text-muted">
                    <ng-container *ngIf="!last; else lastCrumb">
                        <a [routerLink]="crumb.url" class="text-muted text-hover-primary">{{ crumb.label }}</a>
                    </ng-container>
                    <ng-template #lastCrumb>
                        <span>{{ crumb.label }}</span>
                    </ng-template>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
