<div class="divChart">
    <div class="card card-stretch card-flush shadow-sm col-lg-6">
        <div class="card-header">
            <div>
                <h3 class="card-title">{{title}}</h3>
                <h5 class="card-subtitle">{{subTitle}}</h5>
            </div>
            <div class="card-toolbar">

                <div *ngIf="buttonClass==='tabs'">
                    <!-- <ul class="nav nav-bold nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" (click)="task1()">Week</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" (click)="task2()">Month</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" (click)="task3()">Year</a>
                    </ul> -->
                    <button type="button" (click)="task1()" class="btn btn-sm btn-white btn-card btn1 ">
            {{btnData?.buttonName1}}
        </button>
                    <button type="button" (click)="task2()" class="btn btn-sm btn-white btn-card btn1">
                        {{btnData?.buttonName2}}
        </button>
                    <button type="button" (click)="task3()" class="btn btn-sm btn-white btn-card btn1">
                        {{btnData?.buttonName3}}
        </button>
                </div>
                <div *ngIf="buttonClass==='filter'">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn1" id="dropdownBasic1" ngbDropdownToggle>
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Layout/Layout-4-blocks.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <rect fill="#3898FB" x="4" y="4" width="7" height="7" rx="1.5"/>
                                <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#AED6FD" />
                            </g>
                        </svg><!--end::Svg Icon--></span></button>
                        <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h3 class="dropdown-header">Filter Options</h3>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-body">
                                <div class="status">
                                    <h3 class="status-label">Status:</h3>
                                    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select the status">
                                        <ng-template pTemplate="selectedItem">
                                            <div class="country-item country-item-value" *ngIf="selectedCountry">

                                                <div>{{selectedCountry.name}}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-country pTemplate="item">
                                            <div class="country-item">
                                                <div>{{country.name}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                                <div class="member-type">
                                    <h3>Member Type:</h3>
                                    <app-checkbox [checkboxes]="checkboxes" (onChecked)="onChecked($event)"></app-checkbox>
                                </div>
                                <div class="notifications">
                                    <h3>Notifications:</h3>
                                    <app-switch class="switch" [switches]="switches" (slide)="onSelectSwitch($event)"></app-switch>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-footer">

                                <div class="footer-button">
                                    <button type="reset" (click)="reset()" class="btn btn-sm btn-white btn-card reset">
                           Reset
                         </button>
                                    <button type="button" (click)="apply()" class="btn btn-primary">
                         Apply
                           </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-body py-5">
            <p-chart type="bar" [data]="data" width=300 height=400 [options]="options"></p-chart>
        </div>
    </div>

</div>