<div class="d-flex flex-row header">
  <div class="menu d-flex flex-row">
    <nav class="navbar navbar-light pg-mr-2 d-lg-none">
      <button
        class="navbar-toggler header-hamburger pg-ml-2"
        type="button"
        (click)="commonService.showSidebar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <img
      src="assets/growexx-logo-without-text.png"
      alt=""
      class="pg-w-6 pg-ml-1 header-logo d-lg-none"
    />
    <ul class="d-flex flex-row menu-list menu-title-gray-700">
      <li class="list-item menu-item">
        <a href="#" class="list-item-anchor menu-link"><span class="menu-title">Dashboards</span></a>
      </li>
      <li class="list-item menu-item">
        <a href="#" class="list-item-anchor menu-link"><span class="menu-title">Crafted</span></a>
      </li>
      <li class="list-item menu-item">
        <a href="#" class="list-item-anchor menu-link"><span class="menu-title">Apps</span></a>
      </li>
      <li class="list-item menu-item">
        <a href="#" class="list-item-anchor menu-link"><span class="menu-title">Layouts</span></a>
      </li>
      <li class="list-item menu-item">
        <a href="#" class="list-item-anchor menu-link"><span class="menu-title">Resources</span></a>
      </li>
      <li class="list-item menu-item">
        <a href="#" class="list-item-anchor menu-link"><span class="menu-title">Mega Menu</span></a>
      </li>
    </ul>
  </div>
  <div class="icon">
    <ul class="d-flex flex-row icon-list">
      <li class="list-item pg-mr-1 pg-fs-1.5 btn btn-active-light btn-active-color-primary">
        <em class="fa fa-power-off pg-mr-1 pg-fs-2 text-gray-700"></em>
        <a href="#" class="list-item-anchor text-gray-700">Logout</a>
      </li>
    </ul>
  </div>
</div>
